@charset "utf-8";
/* CSS Document */

body{
  /*font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "Meiryo UI" , "メイリオ" , Meiryo;
  font-family: serif;*/
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  line-height: 1.8em;
}
.text-center{
	font-family: san-serif;
}
.success{
	color: greenyellow;
	font: bold;
	font-weight: bold;
}

.navbar{
	background-color: #1F114E;
	color: white;
	font: bold;
}

.navbar-brand{
	color:white;
}

.form-control{
	margin-top: 1em;
	border-radius: 0px; 
}

.submit{
	margin-top: 1em;
	border-radius: 0px;
	background-color: #EBEBEB;
}